/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*----------------------------*/

html {
    background-color: #11091e;
    margin-top:0;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

body {
    margin: 40px auto 0 auto;
    width:800px;
    height:600px;
    font-size:1.3em;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

.container {
    background-color: #eee5e6;
    padding: 20px;
	overflow:auto;
	min-height: 456px;
    width: 585px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
    color: #0a0b21;
}

img.gravatar {
	border:3px solid white;
	outline: 1px solid silver;
}

html::-webkit-scrollbar,
body::-webkit-scrollbar,
.container::-webkit-scrollbar {
    display: none;
}

.right {
    float:right;
    height:auto;
}

navbar.navbar1 {
    position:absolute;
    top: 0;
    color: #fff;
    list-style-type: none;
    /*width: 300px;*/
    /*height: 100px;*/
    margin: 0 0 0 0;
}

.navbar1 li {
    float:left;
    padding: 8px 16px 8px 0;
}

.navbar1 a {
    color: #fff;
    text-decoration: none;
}

.navbar1 li.selected a{
    color: indianred;
}

navbar.navbar0 {
    position:relative;
    background-color: #eee5e6;
    float:right;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 0.9em;
    letter-spacing: 2px;
    /*box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.5);*/
    width:200px;
    height:446px;

    list-style-type:none;
    /*padding:5px;*/
    margin: 0 0 0 5px;
    border: 5px solid #eee5e6;
}

navbar.navbar0 a {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    line-height:100px;
    display:block;

}

.navbar0 .nav1:hover {
    background-color: indianred;
    opacity: 0.9;
}

navbar.navbar0 li {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align:center;
    margin: 0 0 5px 0;
    width: 200px;
    float:left;
    /*height: 33%;*/


}
navbar.navbar0 li:nth-child(1) {
    background-color: #130720;
}
navbar.navbar0 li:nth-child(2) {
    background-color: #b854d2;
}
navbar.navbar0 li:nth-child(3) {
    background-color: #5f30f2;
}
navbar.navbar0 li:nth-child(4) {
    background-color: #61a526;
}

.navbar0 li:nth-child(1).selected,
.navbar0 li:nth-child(2).selected,
.navbar0 li:nth-child(3).selected,
.navbar0 li:nth-child(4).selected {
    opacity: 0.9;
    background-color: indianred;
}
/* Headings */

h1 {
    font-size:2.5em;
    margin: 12px 0 12px 0;
    font-weight: 600;
    font-family: sans-serif;
}

h2 {
    font-size: 1.8em;
    margin: 12px 0 12px 0;
    font-weight: 600;
    font-family: sans-serif;
}

p {
    font-size: 0.9em;
    padding: 4px 0 4px 0;
    line-height:1.2;
}

li {
    padding: 0 0 8px 0;
}

em {
	font-family: cursive;
}

.footer {
	clear:both;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height:100px;
    text-align:center;
    width: 585px;
    background-color: #11091e;
    margin-top:5px;
    border:5px solid #eee5e6;
    color: #eee5e6;
    letter-spacing: 1px;
    font-size:0.7em;
    font-family: sans-serif;
    opacity: 0.8;
}

img.calendar {
	width: 100%;
}

.headings {
	width: 100%;
	box-sizing: border-box;
}
.headings div {
	box-sizing: border-box;
	width: 14.27%;
	border: 1px solid black;
	float:left;
	background-color: #fff;
	text-align: center;
}

.month {
	clear: both;
	width: 100%;
	box-sizing: border-box;
}
.month .day {
	width: 14.27%;
	box-sizing: border-box;
	float:left;
	border: 1px solid black;
	background-color: #fff;
	text-align: center;
}

.day.strayDay {
	background-color: lightgray;
}

.day.today {
	border-radius: 10px;
	background-color: #7cffbe;
}

.headings div:nth-child(7),
.day:nth-of-type(7),
.day:nth-of-type(14),
.day:nth-of-type(21),
.day:nth-of-type(28),
.day:nth-of-type(35) {
	color: red;
}

.next a,
.prev a {
	box-sizing: border-box;
	position:relative;
	top:32px;
	padding: 8px;
	text-decoration: none;
	color: white;
	font-family: sans-serif;
	font-size: 0.8em;
	font-style: italic;
	background-color: #663399;
}

.next a {
	float:right;
}

.prev a {
	float: left;
}

.next a:hover,
.prev a:hover {
	background-color: indianred;
}

/* Forms */

/* Login */

form {
	margin-bottom: 20px;
}

form input[type="submit"] {
	font-size: 1.5em;
}

.active_user {
	color: #61a526;
}

/* Admin */
/* Table */

table.admin {
	border: 1px solid gray;
	margin: 0 0 10px 0;
}

table.admin th,
table.admin tr,
table.admin td {

	padding: 5px;
}

table.admin th {
	background-color: white;
	font-weight: 600;
}



/* Form */
fieldset {
	border: 1px solid gray;
	padding: 20px;
}

form.add_user input {
	padding: 5px;
	display:block;
	margin: 0 0 5px 0;
}

.edit_user input,
.edit_user select {
	padding: 5px;
	display:block;
	margin: 0 0 5px 0;
}

input.delete.right {
	margin: 10px 0 0 0;
}

td.gravatar_column {
	max-width: 200px;
	word-wrap: break-word;
}
